layout-for-name()
  .layout, .layout-column, .layout-row
    box-sizing: border-box
    display: flex
  .layout-column
    flex-direction: column
  .layout-row
    flex-direction: row
  .flex
    flex: 1
    box-sizing: border-box

  .flex-grow
    flex: 1 1 100%
    box-sizing: border-box

  .flex-initial
    flex: 0 1 auto
    box-sizing: border-box

  .flex-auto
    flex: 1 1 auto
    box-sizing: border-box

  .flex-none
    flex: 0 0 auto
    box-sizing: border-box

  .flex-noshrink
    flex: 1 0 auto
    box-sizing: border-box

  .flex-nogrow
    flex: 0 1 auto
    box-sizing: border-box

  .flex-0
    flex: 1 1 100%
    max-width: 0%
    max-height: 100%
    box-sizing: border-box
